body {
    background-color: black;
    color: white;
}

canvas {
    border: 1px solid white;
}

.title {
    font-size: 1.5em;
}

.center {
    text-align: center;
    font-weight: bold;
}

.cols {
    display: flex;
}

#mapAndChat {
    display: flex;
    margin-top: 10px;
}

#playerSheet {
    border: 1px solid white;
    font-size: 2em;
    margin-left: 10px;
    padding: 5px;
    width: 100%;
}

#playerData {
    border: 1px solid white;
    padding: 5px;
    height: 725px;
    overflow: auto;
    white-space: nowrap;
}

#chatBox {
    border: 1px solid white;
    margin-left: 10px;
    padding: 5px;
    width: 100%;
}

#chatText {
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 5px;
    height: 725px;
    overflow: auto;
}

#chatInput {
    width: 85%;
}

#sendButton {
    width: 15%;
}

#imagesCanvas {
    margin-top: 10px;
    margin-right: 5px;
}

#images {
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px;
    width: 100%;
}

#imagesList {
    border: 1px solid white;
    padding: 5px;
    height: 950px;
    overflow: auto;
}